Do An/Sourcecode/Server/Server/.vs/Server/FileContentIndex/35302e32-67ed-4ff5-ac95-c6dc81cd9831.vsidx
Do An/Sourcecode/Server/Server/.vs/Server/FileContentIndex/73e6e085-2d95-426e-b3db-6ad2da73c05c.vsidx
Do An/Sourcecode/Server/Server/.vs/Server/FileContentIndex/cd107302-e48b-4707-9b0d-a95cd8f5e271.vsidx
Do An/Sourcecode/Communicate