<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key="sql_key" value="Data Source=LAPTOP-U1PJ9GMS;Initial Catalog = my_api; Integrated Security = True" />
		<add key="api_key" value="759c532019msh63e52ce5ea468afp113769jsnc64419692369" />
	</appSettings>
</configuration>
